<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

    <h1>{{ name }}</h1> <br>
    {{ desc }}<br>
    <img src="/people_images/Daria_Olivna.jpeg" alt="NOT FOUND"> <br>
    {{photo}}

</body>
</html>